*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: white;
}

.header{
    display: flex;
    justify-content: center;
    position: relative;
}

.header_Logo{
    width: 70px;
    height: 30px;
    margin-top: 20px;
    margin-left: 200px;
}

.nav_jointxt{
    margin-top: 30px;
    margin-left: 1400px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #222222;
}

.Link{
    text-decoration: none;
    color: #222222;
}

.div_txt-middle{
    text-align: center;
    margin-top: 180px;
}

.title_middle{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 64px;
    line-height: 68px;
    color: #191919;
}

.text_middle{
    margin-top: 34px;
    margin-bottom: 40px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    color: #191919;
}

.div_email{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
}

.txtBox_inpEmail{
    width: 330px;
    height: 57px;
    padding-left: 30px;
    padding-right: 149px;
    color: #000000;
    border-radius: 20px;
    border-color: #7352FF;
    outline: none;
}

.btn_started{
    margin-left: -149px;
    width: 149px;
    height: 59px;
    border-radius: 20px;
    color: white;
    border-color: #7352FF;
    background-color: #7352FF;
    cursor: pointer;
}

.btn_started:hover{
    transition: 1s;
    background-color: #8268f8;
}

.btn_started:not(:hover){
    transition: 1s;
    background-color: #7352FF;
}

.btn_started:active{
    transition: 0.3ms linear;
    background-color: #6550be;
    border-color: #6550be;
}

.main{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}

.first_section{
    margin: auto;
    width: 1040px;
    height: 695px;
    background-color: #7349FF;
    margin-top: 401px;
    z-index: 1;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    line-height: 17px;
    border-radius: 12px;

    box-shadow: 0 0 70px;
}

.nav{
    display: flex;
    flex: content;
    justify-content: center;
    padding-top: 18px;
    padding-bottom: 18px;
}

.nav > a{
    text-decoration: none;
    color: #FFFFFF;
    margin-right: 35px;
}

.main > img{
    height: 18px;
    width: 18px;
    margin-left: 35px;
    margin-right: 8px;
}

.div_img{
    display: flex;
    justify-content: center;
}

.div_img > img{
    width: 1027px;
    height: 635px;
    border-radius: 12px;
}

.second_section{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;

    width: 100%;
    height: 1341px;
    margin-top: -50px;
    background-color: #191919;
}

.second_section > h1{
    text-align: center;
    margin-top: 236px;
    font-size: 40px;
    line-height: 48px;
    color: white;
}



.text_slide{
    display: flex;
    justify-content: center;
    color: white;
    font-size: 10px;
    line-height: 14px;

    margin-top: -20px;
    padding-right: 620px;
}

.p_img{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 102px;
}

.img_second{
    padding: 0px 301px 0px 301px;
}

.figure_arrows{
    display: flex;
    justify-content: center;
    margin-top: 119px;
}

.leftArrow{
    margin-right: 32px;
}

.figure_arrows:hover{
    cursor: pointer;
}

.end_second-section{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.end_second-section > p{
    text-align: center;
    font-size: 14;
    text-transform: uppercase;
    color:rgba(255, 255, 255, 0.6);

    margin-top: 97px;
    margin-bottom: 42px;
}

.end_second-section > img{
    display:block;
    margin: auto;
}

